.working{color:red;font-weight:bold}

.minor{color:#666; font-size:70%;}

.hour_min{font-weight:bold; font-size:70%; font-family:"Lucida Console"}

.day_change{font-weight:bold}

.time_month{color:gray ; font-size:80%}
.time_wday{color:gray ; font-size:80%}
.time_mday{color:gray ; font-size:80%}
