:focus{border:0.2em solid black; font-weight:bold}

.working{color:red;font-weight:bold}

.minor{color:#666; font-size:70%;}

.hour_min{font-weight:bold; font-size:70%; font-family:'Lucida Console'}

.day_change{font-weight:bold}

.time_month{color:gray ; font-size:80%}
.time_wday{color:gray ; font-size:80%}
.time_mday{color:gray ; font-size:80%}

.tag{font-weight:bold}

td{padding-bottom:0em}
tr{padding-bottom:0em}

/* Going round TRs
 (https://stackoverflow.com/questions/670424/border-around-specific-rows-in-a-tablepage_html)
TODO listview should get the general style..
*/
tr.top td { border-top: 0.2em solid black; }
tr.bottom td { border-bottom: 0.2em solid black; }
tr.row td:first-child { border-left: 0.2em solid black; }
tr.row td:last-child { border-right: 0.2em solid black; }

blockquote.bm_quote{background-color:#CCC ; margin:0.0em 0.0em 0.1em 2em}