.minor{color:#666; font-size:70%;}

.hour_min{font-weight:bold; font-size:70%; font-family:"Lucida Console"}

.day_change{font-weight:bold}

.bm_quote{background-color:#BBB ; }
blockquote.bm_quote{margin:0.0em 0.0em 0.1em 2em}

tag{font-weight:bold} /* TODO surround with them things*/